body {
    color: #333333;
    background: #efefef;
    padding-top: 12.5rem;
    overflow-x: hidden;
}

.red-bg {
	background: #a92231;
}

.red-bg:hover {
	background: #731a24;
}

.utility {
	background: #232323;
}

.utility a {
	color: #fefefe;
}

.utility a {
	color: #fefefe;
}

.active {
  background: red;
}

.sticky {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.nav {
	padding: 1.5rem 0;
	background: #fefefe;
	margin-bottom: 2rem;
  box-shadow: #333333 0px -5px 20px 3px
}

.logo img {
  height: 68px;
  width: auto;
}

/* -- Responsive Nav -- */
@media only screen and (min-width: 985px) { 
    .mobile {
    display: none;
    } 
}

@media only screen and (max-width: 985px) { 
    .desktop {
    display: none;
    } 

    body {
    padding-top: 9rem;
  }
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #232323;
}

/* Overlay closing cross */
.overlay .overlay-close {
    position: absolute;
    right: 15px;
    top: 0.25rem;
    overflow: hidden;
    border: none;
    color: #a92231;
    outline: none;
    z-index: 5001;
    font-size: 2rem;
    padding: 1rem;
    margin-right: 0.9375rem;
}

/* Menu style */
.overlay nav {
  position: relative;
  top: 40%;
  height: 55%;
  font-size: 2.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  padding: 0 0 1.5rem;
}

.overlay ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  display: block;
  color: #7d7d7d;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.overlay ul li a.phone {
  color: #fefefe;
  font-size: 2rem;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #a92231;
}

.overlay ul li a.phone:hover,
.overlay ul li a.phone:focus {
  color: #a92231;
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 5000;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  width: 100%;
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

#trigger-overlay {
  color: #a92231;
  padding: 1rem;
}

.menu li a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}

.nav .menu li a {
	color: #a92231;
}

.nav .menu li a:hover, .nav .menu li a:active, .nav .menu li a:focus {
	color: #731a24;
}

.dropdown.menu.align-right .is-dropdown-submenu.first-sub {
    top: 100%;
    right: auto;
    left: 0;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #a92231 transparent transparent;
}

.dropdown-menu .is-active a {
	color: #232323;
}

.is-dropdown-submenu {
    border: 1px solid #232323;
}

li.is-submenu-item.is-dropdown-submenu-item {
    background: #333333;
}

li.is-submenu-item.is-dropdown-submenu-item:hover {
    background: #a92231;
}

li.is-submenu-item.is-dropdown-submenu-item a {
    color: #fefefe;
    text-transform: none;
}

li.is-submenu-item.is-dropdown-submenu-item a:hover {
    color: #fefefe;
}

.hero {
	background: url(../img/hero.jpg);
	background-size: cover;
	background-position: 100% 50%;
	height: 400px;
	position: relative;
	z-index: 0;
}

.hero:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background: rgba(169, 34, 49, 0.9);*/
    background: -moz-linear-gradient(top, rgba(254,254,254,0) 0%, rgba(81,81,81,0.5) 57%, rgba(51,51,51,0.62) 67%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254,254,254,0) 0%,rgba(81,81,81,0.5) 57%,rgba(51,51,51,0.62) 67%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254,254,254,0) 0%,rgba(81,81,81,0.5) 57%,rgba(51,51,51,0.62) 67%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefefe', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    z-index: 1;
}

.content {
	position: relative;
	z-index: 2;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
  line-height: 1.2;
}

.white-text {
	color: #fefefe;
}

.white-bg {
	background: #fefefe;
	padding: 3rem 0 4rem 0;
}

.grid-container.no-pad {
	padding-left: 0;
	padding-right: 0;
}

.home-box {
	height: 250px;
}

.top-border {
	border-top: 1px solid #333333;
}

.top-border-white {
  border-top: 1px solid #fefefe;
}

.box-pad {
	padding: 2rem 0;
}

.top-pad {
	padding-top: 3rem;
}

.normal-pad {
	padding: 4.5rem 0;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #232323;
    color: #fefefe;
    text-transform: uppercase;
}

.button.red {
  background-color: #a92231;
}

.button:hover, .button:focus {
    background-color: #a92231;
    color: #fefefe;
}

.button.red:hover, .button.red:focus {
    background-color: #731a24;
    color: #fefefe;
}

.footer {
	background: #232323;
	color: #fefefe;
}

.footer p {
	margin-bottom: 0;
}

/* -------------------
--    Card Style    --
------------------- */

.card-wrapper {
    overflow: hidden; 
    height: 250px;
}

.card {
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  padding: 1rem;
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #333333;
    opacity: 0.25;
    z-index: 1;
    transition: opacity .5s ease;
}

.card:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #a92231;
    opacity: 1;
    z-index: 1;
    transition: opacity 1s ease;
}

.card:hover {
  -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

.card-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  color: #FFF;
  background: rgba(0,0,0,.5);
  padding: 1rem;
}

.card:hover.card-content {
  -webkit-animation: zoomout 10s ease-in infinite;
  animation: zoomout 10s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

.card h2 {
    margin-top: calc(50% - 25%);
    transition: margin-top 1s ease;
    font-size: 2rem;
    line-height: 1;
    border-top: 1px solid #fefefe;
    padding-top: 0.5rem;
}

.card:hover h2 {
  margin-top: 0rem;
  transition: margin-top 1s ease;
}

p.card-description {
    opacity: 0;
    transition: opacity .5s ease;
}

.card:hover p.card-description {
    opacity: 1;
    transition: opacity .5s ease;
    display: block;
}

.footer-menu {
  background: #333333;
  color: #fefefe;
  padding: 2rem 0;
}

.footer-menu h2 {
  font-size: 1.35rem;
}

.footer-menu a {
    line-height: inherit;
    color: #7d7d7d;
    text-decoration: none;
    cursor: pointer;
}

.footer-menu a:hover, .footer-menu a:focus, .footer-menu a:active  {
    color: #cecece;
}

.footer-menu img {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
}

.footer-menu p.small-p {
  font-size: 0.85rem;
}


.careers-bg {
  background: url('../img/careers-bw.jpg');
  background-size: cover;
  height: 325px;
  position: relative;
  z-index: 0;
}

.careers-bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #a92231;
  opacity: 0.75;
  z-index: 1;
}

.header {
  margin-bottom: 2.75rem;
}

.pipes-bg {
  background: url('../img/pipes.jpg');
  background-size: cover;
  height: 325px;
  position: relative;
  z-index: 0;
  margin: 2.5rem 0;
}

.pipes-bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #a92231;
  opacity: 0.85;
  z-index: 1;
}

.contact-bg {
  background: url('../img/pipes.jpg');
  background-size: cover;
  height: 325px;
  position: relative;
  z-index: 0;
}

.contact-bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #a92231;
  opacity: 0.85;
  z-index: 1;
}

.contact-box h3 {
  font-size: 24px;
}

.about-bg {
  background: url('../img/team.jpg');
  background-size: cover;
  height: 325px;
  position: relative;
  z-index: 0;
}

.about-bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #a92231;
  opacity: 0.85;
  z-index: 1;
}
